@charset "UTF-8";

  .masterhead {
    height: 90vh;
    min-height: 688px;
    background-image: url('../images/banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .home {
    background-image: url('../images/AtlanticPrepaid_Banner_HomeFinal.png');
  }
  .products {
    background-image: url('../images/AtlanticPrepaid_Banner_Products_NEW.png');
  }
  .aboutus {
    background-image: url('../images/AtlanticPrepaid_Banner_AboutUs.png');
  }
  .blogs {
    background-image: url('../images/AtlanticPrepaid_Banner_Blog_Fb.png');
  }
  .contactus {
    background-image: url('../images/AtlanticPrepaid_Banner_ContactUs.png');
  }

  
  



