/* @media (min-width: 320px) { */
@media (max-width: 2561px) {
    .about-us-div-head-text.futura-heavy{
        font-size: 4.9rem;
    }
    .product-img-label{
        font-size: 2.0rem;
    } 
    .gift-card-img {
        width: 100%;
        margin-left: -50;
        margin-top: 10% ;
    }
    .gift-card-img-grp-1 ,.gift-card-img-grp-2{
        width: 60%;
        margin-left: 20%;
    }
    .btn-about-us{
        font-size: 3.0rem;
        padding: 0.8rem 1.0rem;
    }
    .form-control.form-field-label.futura-light{
        font-size: 2.0rem;
    }
    .form-control{
        height: 3.8rem;
    }
    .form-field-label{
        font-size: 2.0rem;
    }
    .user-talking-icon{
        width: 12%;
    }
    .futura-light.section-animate-small-text.contact-detail{
        font-size: 2.9rem;
        line-height: 1.35;
    }
    .futura-heavy.about-us-div-head-text.contact-info{
        font-size: 3.9rem;
    }
    .futura-light.about-us-bottom-img-light-content{
        font-size: 3.4rem;
    }
    .futura-heavy.about-us-bottom-img-heavy-content{
        font-size: 7.8rem;
    }
    .about-us-img{
        text-align: center; 
        width: 85%;
        height: 100%;
    }
    .about-us-container{
        text-align: left;
    }
    .container{
        width: 100%;
    }
    .icon-size{
        width: 10.0rem;
        height: 10.0rem;
    }
    .list-inline.futura-light.nav-link{
        font-size: 32px;
    }
    .futura-heavy.unit-body-container{
        font-size: 3.5rem;
    }
    .card-img-dimention{
        margin-left: -180px !important;
        width: 95%;
    }
    .pos-img-dimention{
        margin-left: -180px !important;
        width: 60%;
    }
    .futura-light.section-animate-small-text{
        font-size: 3.2rem;
    }
    .futura-heavy.section-animate-large-text{
        font-size: 50px;
        color: #1a1a1a;
    }
    .shell, .shell-wide {
		max-width: 2000px;
    }
    .offset-md-360{
        padding-left: 360px;
    }
    .copyright.futura-light{
        font-size: 2.8rem ;
        color: #5f5f5f;
        text-align: left;
        margin-left: 42px;
        padding: 15px 15px;
    }
    .footer-content-logo{
        width: 100%;
        margin-left: 5.0rem;
    }
    .futura-light.bottom-img-light-content{
        font-size: 3.4rem;
    }
    .futura-heavy.bottom-img-heavy-content{
        font-size: 7.8rem;
        color: #ffffff;
    }
    .planogram-img-dimention{
        margin-left: -160px !important;
        width: 30%;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-panel .rd-navbar-list .icon{
        font-size: 4.0rem;
    }
    .margin-top-10{
        margin-top: 3.5rem !important;
    }
    .futura-light.mobile-number{
        font-size: 2.5rem ;
    }
    .phone-number-icon{
        font-size: 5.0rem ;
        line-height: 33px;
        color: #fff;
    }
    .nav-link{
        color: #ffffff;
        margin-top: 6%;
    }
    .margin-head-small-text{
        margin-top: -2%;
        margin-bottom: 4% !important;
    }
    .masterhead {
        height: 0vh;
        min-height: 1274px;
    }
    .logo-div-size{
        width: 13%;
    }
    .logo-size{
        width:100%;
    }
    
    .head-small-text.futura-light{
        font-size: 2.9rem;
    }
    .head-text-color.home-head-text.futura-heavy{
        font-size: 4.9rem;
    }
    .overflow-button.section-md-bottom-110{
        margin-top: 5.0rem;
    }
    .break-line{
        white-space: pre-line;
    }
}
@media (max-width: 2400px) {
    .shell2, .shell-wide {
        max-width: 1694px;
        margin-left: auto;
	}
    .masterhead {
        height: 0vh;
        min-height: 1080px;
    }
    .logo-div-size{
        width: 13%;
    }
    .logo-size{
        width:100%;
    }
    
    .head-small-text.futura-light{
        font-size: 2.9rem;
    }
    .head-text-color.home-head-text.futura-heavy{
        font-size: 4.9rem;
    }
    .overflow-button.section-md-bottom-110{
        margin-top: 5.0rem;
    }
    .break-line{
        white-space: pre-line;
    }

}
@media (max-width: 1950px) {
    .btn-about-us{
        font-size :2.5rem;
        padding: 8px 10px;
    }
    .form-control.form-field-label.futura-light{
        font-size: 1.5rem;
    }
    .form-field-label{
        font-size: 1.6rem;
    }
    .planogram-img-dimention{
        margin-left: -230px !important;
        width: 30%;
    }
    .pos-img-dimention{
        margin-left: -270px !important;
        width: 63%;
    }
    .futura-heavy.about-us-bottom-img-heavy-content{
        font-size: 6.8rem;
    }
    .futura-light.about-us-bottom-img-light-content{
        font-size: 3.0rem;
    }
    .container{
        width: 87%;
    }
    .footer-content-logo{
        margin-left: 0px;
    }
    .icon-size{
        width: 8.0rem;
        height: 8.0rem;
    }
    .list-inline.futura-light.nav-link{
        font-size: 27px;
    }
    .shell2, .shell-wide {
        max-width: 1400px;
        margin-left: auto;
	}
    .futura-heavy.unit-body-container{
        font-size: 2.2rem;
    }
    .icon.fa-phone.phone-number-icon.phone-number-icon{
        font-size: 45px;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-panel .rd-navbar-list .icon{
        font-size: 3.5rem;
    }
    .nav-link{
        margin-top: 3%;
    }
    .masterhead {
        height: 0vh;
        min-height: 970px;
    }
    .offset-md-50{
        padding-left: 250px;
    }
    .break-line{
        white-space: pre-line;
    }
    .ui-to-top {
		right: 40px;
		bottom: 7px;
		z-index: 12;
	}
    .gift-card-img-container{
        text-align: left;
    }
    .gift-card-img-grp-align{
        text-align: center;
    }
    .list.list-unstyled.futura-light.mobile-number{
        /* font-size: 1.5rem; */
        font-size: 2.0rem;
    }
    .footer-brand.reveal-inline-block.footer-content-div-logo{
        margin-left: 46px;
    }
    .head-text-color.products-terminal-text.futura-heavy{
        font-size: 3.0rem;
    }
    .terminal-img-container .shopping-terminal-img{
        width: 40%;
        margin-top: 5.0rem;
    }
    .futura-light.section-animate-small-text.contact-detail{
        font-size: 2.5rem;
    }
    .user-talking-icon{
        width: 12%;
    }
    .futura-heavy.about-us-bottom-img-heavy-content{
        font-size: 4.8rem;
    }
    .about-us-container{
        text-align: left;
    }
    .logo-div-size{
        width: 13%;
    }
    .logo-size{
        width:100%;
    }
    .head-text-color.home-head-text.futura-heavy{
        font-size: 4.2rem;
    }
    .head-small-text.futura-light{
        font-size: 2.5rem;
    }
    .animateItem-1.futura-light.section-animate-small-text{
        font-size: 2.5rem;
    }
    .futura-light.section-animate-small-text-1{
        font-size: 1.8rem;
    }
    .animateItem.futura-light.section-animate-small-text{
        font-size: 2.0rem;
    }
    .futura-light.section-animate-small-text{
        font-size: 2.8rem;
    }
    .futura-heavy.bottom-img-heavy-content{
        font-size: 6.8rem;
        color: #ffffff;
    }
    .futura-light.bottom-img-light-content{
        font-size: 3.0rem;
    }
    .copyright.futura-light{
        font-size: 16px;
        color: #5f5f5f;
        text-align: left;
        margin-left: 42px;
        padding: 15px 15px;
    }
    .futura-heavy.contact-in-footer{
        font-size: 2.0rem;
    }
    .about-us-div-head-text.futura-heavy{
        font-size: 4.0rem;
    }
    .futura-heavy.about-us-div-head-text.contact-info{
        font-size: 3.5rem;
    }
    .gift-card-img {
        width: 100%;
        margin-left: -50;
    }
    .gift-card-img-grp-1 ,.gift-card-img-grp-2{
        width: 55%;
    }
    .overflow-button.section-md-bottom-110{
        margin-top: 5.0rem;
    }
}
@media (max-width: 1550px){
    .head-text-color.products-terminal-text.futura-heavy{
        font-size: 2.5rem;
    }
    .product-img-label{
        font-size: 1.5rem;
    } 
    .btn-about-us{
        font-size :18px;
        padding: 8px 10px;
    }
    .futura-light.section-animate-small-text.contact-detail{
        font-size: 2.0rem;
    }
    .futura-heavy.about-us-div-head-text.contact-info{
        font-size: 2.5rem;
    }
    .head-small-text.futura-light{
        font-size: 2.0rem;
    }
    .head-text-color.home-head-text.futura-heavy{
        font-size: 3.2rem;
    }
    .container{
        width: 100%;
    }
    .icon-size{
        width: 6.0rem;
        height: 6.0rem;
    }
    .animateItem-1.futura-light.section-animate-small-text{
        font-size: 2.0rem;
    }
    .futura-light.section-animate-small-text{
        font-size: 2.0rem;
    }
    .list-inline.futura-light.nav-link{
        font-size: 20px;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-panel .rd-navbar-list .icon{
        font-size: 2.5rem;
    }
    .futura-light.mobile-number{
        font-size: 2.0rem;
    }
    .icon.fa-phone.phone-number-icon.phone-number-icon{
        font-size: 30px;
    }
    .shell, .shell-wide {
		max-width: 1200px;
	}
    .futura-heavy.section-animate-large-text{
        font-size: 36px;
        color: #1a1a1a;
    }
    .nav-link{
        color: #ffffff;
        margin-top: 0%;
        font-size: 25px ;
    }
    .margin-top-10{
        margin-top: 10px !important ;
    }
    .planogram-img-dimention{
        margin-left: -160px !important;
        width: 30%;
    }
    .card-img-dimention{
        margin-left: -120px !important;
        width: 95%;
    }
    .pos-img-dimention{
        margin-left: -160px !important;
        width: 60%;
    }
    .masterhead {
        height: 0vh;
        min-height: 686px;
    }
}
@media (max-width: 1400px){
    
    .form-control{
        height: 2.2rem;
    }
    .form-field-label{
        font-size: 1.5rem;
    }
    .futura-light.mobile-number{
        font-size: 1.5rem;
    }
    .list.list-unstyled.futura-light.mobile-number{
        font-size: 1.5rem;
    }
    .icon.fa-phone.phone-number-icon.phone-number-icon{
        font-size: 2.5rem;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-panel .rd-navbar-list .icon{
        font-size: 2.0rem;
    }
}
/* Only for to decrease label font size available in products.html */
@media (max-width: 1199px){
    .futura-heavy.about-us-bottom-img-heavy-content{
        font-size: 4.8rem;
    }
    .futura-heavy.bottom-img-heavy-content{
        font-size: 4.8rem;
        color: #ffffff;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-panel .rd-navbar-list .icon{
        font-size: 1.8rem;
    }
    .nav-link{
        color: #ffffff;
        margin-top: -2%;
        font-size: 1.8rem !important;
    }
    .planogram-img-dimention{
        margin-left: -50px !important;
        width: 30%;
    }
    .card-img-dimention{
        margin-left: -50px !important;
        width: 85%;
    }
    .pos-img-dimention{
        margin-left: -50px !important;
        width: 60%;
    }
    .masterhead {
        height: 0vh;
        min-height: 610px;
    }
    .break-line{
        white-space: pre-line;
    }
    .product-img-label{
        font-size: 1.2rem;
    }
    .futura-light.section-animate-small-text.index-text-line-height{
        font-size: 1.7rem;

    }
    .overflow-button.section-md-bottom-110{
        margin-top: 5.0rem;
    }
}

@media (max-width: 1024px) {
    .form-field-label{
        font-size: 1.4rem;
    }
    .futura-light.about-us-bottom-img-light-content{
        font-size: 2.4rem;
    }
    .offset-md-50{
        padding-left: 100px;
    }
    .break-line{
        white-space: pre-line;
    }
    .gift-card-img-container{
        text-align: left;
    }
    .gift-card-img-grp-align{
        text-align: center;
    }
    .animateItem.futura-light.section-animate-small-text{
        font-size: 1.7rem;
    }
    .head-small-text.futura-light{
        font-size: 18px;
    }
    .head-text-color.home-head-text.futura-heavy{
        font-size: 2.5rem;
    }
    .futura-heavy.about-us-div-head-text{
        font-size: 25px;
    }
    .futura-heavy.about-us-div-head-text.contact-info{
        font-size: 2.1rem;
    }
    .futura-light.section-animate-small-text{
        font-size: 18px;
        line-height: 1.25;
    }
    .futura-heavy.contact-in-footer{
        font-size: 2.0rem;
    }
    .index-text-line-height{
        line-height: 20px;
    }
    .home-head-text{
        font-size: 30px;
    }
    .head-small-text{
        font-size: 16px;
    }
    .contact-detail-head-text{
        font-size: 30px;
    }
    .products-head-text{
        font-size: 28px;
    }
    .terminal-text{
        font-size: 17px;
    }
    .products-terminal-text{
        font-size: 18px;
    }
    .logo-size{
        width:100%;
    }
    .about-us-container{
        text-align: left; 
        /* margin-left: 70px; */
    }
    .about-us-div-head-text{
        font-size: 30px;
        color: #1a1a1a;
    }
    .section-animate-small-text {
        font-size: 16px;
        color: #828282;
    }
    .futura-heavy.about-us-bottom-img-heavy-content{
        font-size: 3.8rem;
    }
    .masterhead {
        height: 0vh;
        min-height: 522px;
    }
    .page-head.slider-menu-position.masterhead{
        margin-top: 0px;
    }
    .page-head.slider-menu-position.masterhead.home{
        margin-top: 0px;
    }
    .about-us-img{
        text-align: center; 
        width: 100%;
        height: 100%;
        padding: 0% 5%;
    }
    .futura-heavy.bottom-img-heavy-content{
        font-size: 3.8rem;
        color: #ffffff;
    }
    .futura-light.bottom-img-light-content{
        font-size: 20px;
        color: #ffffff;
    }
    .mobile-number-display{
        display: inline-block;
    }
    .rd-navbar-mobile-icon{
        float: right;
        margin-right: 0px;
        margin-top: 0px;
    }
    .gift-card-img-grp-1 ,.gift-card-img-grp-2{
        width: 50%;
    }
    .gift-card-img-container .gift-card-img{
        width: 100%;
    }
    .head-text-color.products-terminal-text.futura-heavy{
        font-size: 2.0rem;
    }
    .terminal-img-container .shopping-terminal-img{
        width: 60%;
        margin-top: 5.0rem;
    }
    .user-talking-icon{
        width: 10%;
    }
    .copyright.futura-light{
        font-size: 14px;
        color: #5f5f5f;
        text-align: left;
        margin-left: 42px;
        padding: 15px 15px;
    }
    .overflow-button.section-md-bottom-110{
        margin-top: 5.0rem;
    }
}
@media (max-width: 992px){
    .product-img-label{
        font-size: 2.0rem;
    }
    .img-product1-width{
        width: 100%;
        filter: drop-shadow(4px 4px 0px #de8751)
    }
    .img-product2-width{
        width: 100%;
        filter: drop-shadow(4px 4px 0px #bf3c5b)
    }
    .nav-link{
        margin-top: -4%;
        font-size: 1.4rem !important;
    }
    .margin-head-small-text{
        margin-top: unset;
        margin-bottom: 0% !important;
    }
    .section-animate.to-front.bg-white.owl-carousel-container{
        min-height: 70vh;
    }
    .break-line{
        white-space: normal;
    }
    .terminal-img-container .shopping-terminal-img{
        width: 30%;
        margin-top: 0rem;
    }
    .footer-brand.reveal-inline-block.footer-content-div-logo{
        width: 15%; 
     }
     .img-responsive.reveal-inline-block.footer-content-logo{
         margin-top: 3.0rem;
         margin-bottom: -4.5rem;
     }
     .futura-light.section-animate-small-text.contact-detail{
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
    }
}
@media (max-width: 767px) {
    .offset-sm-bottom{
        margin-bottom: 1.0rem;
    }
    .futura-heavy.section-animate-large-text{
        font-size: 3.0rem;
    }
    .nav-link{
        color: #ffffff;
        margin-top: -2%;
        font-size: 12px !important;
    }
    .planogram-img-dimention{
        margin-left: auto !important;
    }
    .card-img-dimention{
        margin-left: auto !important;
    }
    .pos-img-dimention{
        margin-left: auto !important;
    }
    .img-responsive.reveal-inline-block.footer-content-logo{
        margin-top: 0rem;
        margin-bottom: -4.5rem;
    }
    .margin-top-10{
        margin-top: 0px !important;
    }
    .offset-md-50{
        padding-left: 0px;
    }
    .break-line{
        white-space: normal;
    }
    .ui-to-top {
		right: 40px;
		bottom: 7px;
		z-index: 12;
	}
    .futura-light.section-animate-small-text.contact-detail{
        font-size: 1.5rem;
    }
    .footer-brand.reveal-inline-block.footer-content-div-logo{
        width: 20%;
    }
    .img-responsive.reveal-inline-block.footer-content-logo{
        margin-left: -3.8rem;
    }
    .futura-heavy.contact-in-footer{
        font-size: 1.8rem;
    }
    .futura-heavy.bottom-img-heavy-content{
        font-size: 26px;
    }
    .head-text-color.home-head-text.futura-heavy{
        font-size: 13px;
    }
    .head-text-color.home-head-text.futura-heavy.beyond-card-text{
        font-size: 2.5rem;
    }
    .head-small-text.futura-light{
        font-size: 11px;
    }
    .futura-light.section-animate-small-text{
        font-size: 16px;
    }
    .head-text-color{
        font-size: 11px;
    }
    .head-text-products-font{
        font-size: 18px;
    }
    .head-text-contactus-font{
        font-size: 13px;
    }
    .head-small-text{
        font-size: 9px;
    }
    .logo-div-size{
        width:10%;
       text-align: center;
    }
    .logo-size{
        width: 35%;
    }
    .masterhead {
        height: 0vh;
        min-height: 39.0rem;
    }
    .page-head.slider-menu-position.masterhead{
        margin-top: 59px;
    }
    .page-head.slider-menu-position.masterhead.home{
        margin-top: 59px;
    }
    .about-us-container{
        text-align: left; 
        margin-left: 30px;
    }
    .about-us-img{
        text-align: center; 
        width: 100%;
        height: 100%;  
        padding: 10% 20%;
    }
    .about-us-div-head-text{
        font-size: 20px;
    }
    .section-animate-small-text {
        font-size: 11px;
        color: #828282;
    }
    .futura-heavy.about-us-bottom-img-heavy-content{
        font-size: 26px;
        color: #ce1b45;
    }
    .bottom-img-heavy-content{
        font-size: 26px;
        color: #ffffff;
    }
    .bottom-img-light-content{
        font-size: 19px;
        color: #ffffff;
    
    }
    .mobile-number-display{
        display: none;
    }
    .rd-navbar-mobile-icon{
        float: right;
        margin-right: 50px;
        margin-top: 12px;
    }
    .gift-card-img-container{
        text-align: center;
    }
    .gift-card-img-container .gift-card-img{
        width: 40%;
        margin-bottom: 3.0rem;
    }
    .gift-card-img-grp-align .gift-card-img-grp-1{
        width: 40%;
        text-align: center;
        margin-bottom: 3.0rem;
    }
    .gift-card-img-grp-align{
        text-align: center;
    }
    .gift-card-img-grp-align .gift-card-img-grp-2{
        width: 40%;
        margin-left: 0px;
        margin-bottom: 3.0rem;
    }
    .terminal-img-container .shopping-terminal-img{
        width: 40%;
    }
    .futura-medium.about-us-bottom-img-light-content{
        font-size: 20px;
      
    }
    .head-text-color.products-terminal-text.futura-heavy{
        font-size: 1.8rem;
    }
    
    .futura-heavy.about-us-div-head-text{
        font-size: 25px;
    }
    .futura-heavy.about-us-div-head-text.contact-info{
        font-size: 2.0rem;
    }
    .user-talking-icon{
        width: 20%;
    }
    .copyright.futura-light{
        font-size: 1.4rem;
        color: #5f5f5f;
        text-align: left;
        padding: 8px 10px;
    }
} 
@media (max-width: 479px) {
    .planogram-img-dimention{
        margin-left: auto !important;
    }
    .card-img-dimention{
        margin-left: auto !important;
    }
    .pos-img-dimention{
        margin-left: auto !important;
    }
    .masterhead {
        height: 0vh;
        min-height: 20.9rem;
    }
    .break-line{
        white-space: normal;
    }
    .copyright.futura-light{
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
    .footer-brand.reveal-inline-block.footer-content-div-logo{
        width: 35%;
    }
    .logo-size{
        width: 50%;
    }
    c
    .rd-navbar-default.rd-navbar-fixed, .rd-navbar-default.rd-navbar-fixed .rd-navbar-panel{
        height: 5.9rem;
    }
}
@media (max-width: 380px) {
    .masterhead {
        height: 0vh;
        min-height: 18.9rem;
    }
    .break-line{
        white-space: normal;
    }
    .logo-size{
        width: 60%;
    }
    /* .rd-navbar-brand.logo-div-size{
        margin-top: 0.7rem;
    } */
}
.img-product1-width{
    width: 100%;
    filter: drop-shadow(4px 4px 1px #de8751)
}
.img-product2-width{
    width: 100%;
    filter: drop-shadow(4px 4px 1px #bf3c5b)
}
.head-text-color{
    color: #c91b45;
}

.head-small-text{
    color: #939393;
}

.futura-heavy.about-us-bottom-img-heavy-content {
    color: #ffffff;
}

.phone-number-icon:hover{
    color: #ffffff;
}
.phone-number{
    font-size: 11px;
    color: #ffffff; 
    margin-right: 20px;
}

.section-owl-carousel{
    height:100%;
}
.content-on-img{
    text-align: end;
}
.footer-content{
    background-color: #a7357d;
}
.footer-content-div-logo{
    width: 40%;
}
.footer-content-logo{
    margin-top:-7px; 
    width:100%;
}
.contact-info-row{
    margin-top: 70px;
}
.contact-us{
    text-align: left;
    color: black;
    line-height: 1.01429;
}
.section80{
    margin-top: 110;
}
.gift-card-text{
    text-align: left;
}


.terminal-text{
    text-align: left;
}

.footer-img-content{
    text-align: end;
}
.products-head-text{
   
}
.about-us-head-text{
    font-size: 30px;
    text-align: left;
    margin-left: 50px;
}
.btn-properties{
	color : #ffffff;
    background-color :#AB1E2E ; 
    /* background-color : #ce1d45 ; */
    border: none;
}
.unit-body-container{
    font-size: 18px;
    color: #000000;
}
.futura-heavy.unit-body-container{
    color: #000000;
}
.contact-in-footer{
    font-size: 24px;
	color: #ffffff;

}
.mobile-number{
    font-size: 11px;
	color: #ffffff;
}

.futura-light.about-us-bottom-img-light-content{
	color: #ffffff ;
}
.blog-img-content{
    font-size: 18px;
	color: #302f2f;
}
.form-field-label{
    color: 1a1a1a;
}
.products-terminal-text{
    font-size: 18px;
}

.futura-heavy{
    font-family: futura-heavy;
    font-size: 32px;
    line-height: 1.20;
}
.futura-medium{
    font-family: futura-medium;
}

.futura-light{
    font-family: futura-light;
    font-size: 16px;
    line-height: 1.20;
}
.text-muted{
    font-family: futura-light;
    font-size: 1.5rem;
    color: #9e9e9e;
}
.btn-primary{
    font-family: futura-medium;
    color : #ffffff;
    background-color : #ce1d45 ;
    border: none;
    font-size :18px;
    padding: 0.5rem 3.0rem;
}
.select2-selection {
    display: none;
  }
.product-img-label{
    color: black;
}
.list.list-unstyled.futura-light.mobile-number li a:hover{
    color: #e28bf4;
}
.icon.fa-instagram.soc-media-icon{
    color: red;
}
.section-animate.to-front.bg-white.owl-carousel-container{
    min-height: 115vh;
}

@font-face{
    font-family: 'futura-light';
    src: url('../fonts/Futura/FuturaStd-Light.otf') format('truetype');
} 
@font-face{
    font-family: 'futura-heavy';
    src: url('../fonts/Futura/FuturaStd-Heavy.otf') format('truetype');
} 
@font-face{
    font-family: 'futura-medium';
    src: url('../fonts/Futura/FuturaStd-Medium.otf') format('truetype');
} 



